<footer>
    <p>Want to stay updated? Let's Connect!!</p>
    <p>Contact us at: <a href="mailto:citizensconnect360&#64;gmail.com">citizensconnect360&#64;gmail.com</a></p>
    <div class="social-icons">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
    </div>
    <div>
      <a href="#">Privacy Policy</a> | <a href="#">Terms and Conditions</a>
    </div>
  </footer>
  