<app-header></app-header>

<div class="login-container">
    <img src="/assets/logo.png" alt="CitizensConnect360 Logo" class="logo-image">
    <form>
        <h2>Create New Password</h2>
        
        <div class="input-group">
            <label for="new-password">
                <i class="fa fa-lock input-group-addon"></i>
            </label>
            <input type="password" id="new-password" name="new-password" placeholder="Enter new password">
        </div>
        
        <div class="input-group">
            <label for="confirm-password">
                <i class="fa fa-lock input-group-addon"></i>
            </label>
            <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm new password">
        </div>
        
        <button type="submit">Create</button>
        <p><a [routerLink]="['/login']">← Back to login</a></p>
    </form>
</div>

<app-footer></app-footer>
