<nav>
    <div class="logo">
      <img src="/assets/logo.png" alt="Logo">
      <span>CitizensConnect360</span>
    </div>
    <ul>
      <li><a [routerLink]="['/CitizenseducateComponent']">Educate</a></li>
      <li><a [routerLink]="['/CitizensviewsComponent']">Views</a></li>
      <li><a [routerLink]="['/CitizensIncidentsComponent']">Incidents</a></li>
      <li><a [routerLink]="['/CitizensPollsComponent']">Polls</a></li>
      <li><a [routerLink]="['/CitizensProfileComponent']">My Profile</a></li>
      <li><a [routerLink]="['/logout']">Log Out</a></li>
    </ul>
  </nav>
  